= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  .form-inputs.row
    .col-sm-6
      %h5 Personal Information
      = f.input :email, required: true, autofocus: true
      - unless resource.persisted?
        .row
          .col-sm-6= f.input :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
          .col-sm-6= f.input :password_confirmation, required: true
      - else
        = f.input :current_password, require: true
      = f.input :last_name
      .row
        .col-sm-6= f.input :first_name
        .col-sm-6= f.input :middle_name
      = f.input :tax_number
      = f.input :birthday, as: :string, input_html: { class: 'birthday' }
    .col-sm-6
      %h5 Address
      = f.simple_fields_for :address do |ff|
        .row
          .col-sm-8= ff.input :street, require: true
          .col-sm-4= ff.input :apartment, require: true
        = ff.input :city, require: true
        .row
          .col-sm-8= ff.input :region
          .col-sm-4= ff.input :postal_code
        = ff.input :country, as: :string
  .form-actions.d-flex.justify-content-center
    = f.button :submit, class: 'btn btn-primary m-2'
    - if resource.new_record?
      = link_to 'Log in', [:new, :user, :session], class: 'btn btn-info m-2'
