= simple_form_for @company, url: [:company], method: :post do |f|
  = f.input :name
  = f.input :tax_number
  = f.input :certificate_number
  %h4 Bank Information
  = f.simple_fields_for :bank_account do |ff|
    = ff.input :name
    = ff.input :bank_name
    = ff.input :bic
    = ff.input :number
  = f.button :submit, class: 'btn btn-primary'

