%nav.navbar.navbar-expand-lg.navbar-dark.bg-dark
  .container
    %a.navbar-brand Company Title
    %button.navbar-toggler{ type: "button", data: { toggle: "collapse", target: '#navbarsExample07' },  'aria-controls': 'navbarsExample07',  'aria-expanded': 'false', 'aria-label': 'Toggle navigation' }
      %span.navbar-toggler-icon

    .collapse.navbar-collapse.d-flex#navbarsExample07
      %ul.navbar-nav.mr-auto
        %li.nav-item{ class: ('active' if controller_path.start_with?(%r{home})) }
          = link_to root_path, class: 'nav-link' do
            = fas_icon :home
            Home
      %ul.navbar-nav
        - unless current_user
          %li.nav-item{ class: ('active' if controller_path.start_with?(%r{devise/sessions})) }
            = link_to new_user_session_path, class: 'nav-link' do
              = fas_icon 'sign-in-alt'
              Sign in
          %li.nav-item
            = link_to new_user_registration_path, class: 'nav-link' do
              = far_icon :user
              Sign up
        - else
          %li.nav-item.dropdown
            = link_to current_user.first_name, '#', class: 'nav-link dropdown-toggle', id: 'profile-dropdown', role: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: true, expanded: false }
            .dropdown-menu{ aria: { labelledby: 'profile-dropdown' } }
              - if current_user.company&.persisted?
                = link_to company_path(current_user.company), class: 'dropdown-item' do
                  = fas_icon :cogs
                  Company Settings
              - else
                = link_to [:new, :companies], class: 'dropdown-item' do
                  = fas_icon :cogs
                  Add Company
              = link_to [:edit, current_user, :registration], class: 'dropdown-item' do
                = fas_icon :user
                Your Profile
              = link_to destroy_user_session_path, method: :delete, class: 'dropdown-item' do
                = fas_icon 'sign-out-alt'
                Sign out
