!!! 5
%html
  %head
    %title Jaffa
    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag    'application', 'data-turbolinks-track': 'reload'

  %body{ data: { path: "#{controller_path}/#{action_name}" } }
    %header
    = render 'navigation'
    %section
      .container
        = yield
    %footer
